{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<!-- Header -->        
<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="user">
                <div class="user__avatar">
                    <img src="{% static 'images/cat.png' %}" alt="">
                </div>
                <div class="user__content">
                    <div class="user__name">Oleksii <br> Bagiński</div>
                    <div class="user__prof">Junior Web Developer</div>
                </div>
            </div>

            <nav class="nav">
                <a class="nav__link" href="#work">work</a>
                <a class="nav__link" href="#about">about me</a>
                <a class="nav__link" href="#my_story">my story</a>
                <a class="nav__link nav__link--btn" href="#" data-modal="#modal_hire_me">hire me</a>
            </nav>
        </div>
    </div>
</header><!-- Header -->


<!-- Intro -->
<section class="intro">
    <div class="container">

        <div class="intro__inner">
            <div class="intro__background"></div>
            <div class="intro__content">
                <h2 class="intro__subtitle">Hello i'm</h2>
                <h1 class="intro__title">Oleksii Bagiński</h1>
                <div class="intro__text">Junior Web Developer</div>

                <div class="social">
                    <a class="social__link" href="https://www.linkedin.com/in/oleksii-benedysiuk/" target="_blank">
                        <img src="{% static 'images/linkedin_ikon_intro.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://github.com/OleksiiOleksa" target="_blank">
                        <img src="{% static 'images/github_ikon_intro.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://www.instagram.com/freshdeadboy/" target="_blank">
                        <img src="{% static 'images/instagram_ikon_intro.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://www.facebook.com/oleksii.oleksa.1" target="_blank">
                        <img src="{% static 'images/facebook_ikon_intro.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://t.me/FRESHDEADBOY" target="_blank">
                        <img src="{% static 'images/telegram_ikon_intro.svg' %}" alt="">
                    </a>               
                </div>

                <a class="btn" href="#" data-modal="#modal_hire_me">HIRE ME</a>
                <button class="btn" type="button" data-modal="#modal_resume">SEE MY RESUME</button>
            </div>    
                        
            <img class="intro__photo" src="{% static 'images/photo.png' %}" alt="" id="photo">
        </div><!-- /.intro__inner -->

    </div><!-- /.container -->
</section><!-- intro -->

<!-- Works -->
<div class="works" id="work">
    <div class="container">

            <div class="works__nav">
                <a class="works__nav-link" href="#" data-filter="all">All</a>
                <a class="works__nav-link" href="#" data-filter="app">App</a>
                <a class="works__nav-link" href="#" data-filter="website">Websites</a>
                <a class="works__nav-link" href="#" data-filter="interaction">Interaction</a>
            </div>

            <div class="portfolio">
                <div class="portfolio__col" data-cat="website">
                    <div class="work" data-modal="#modal_scraping">
                        <img class="work__image" src="{% static 'images/SOLANA_LOGO.png' %}" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: website</div>
                            <div class="work__title">
                                SOLANA INFO
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="app">
                    <div class="work" data-modal="#modal_bot">
                        <img class="work__image" src="{% static 'images/BOT.png' %}" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: App</div>
                            <div class="work__title">
                                Telegram Bot
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="interaction">
                    <div class="work" data-modal="#modal_scheduler">
                        <img class="work__image" src="{% static 'images/SCHEDULER.png' %}" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: interaction</div>
                            <div class="work__title">
                                PERSINAL SCHEDULER
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="website">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: website</div>
                            <div class="work__title">
                                The app is in the design phase..
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="interaction">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: interaction</div>
                            <div class="work__title">
                                The app is in the design phase..
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="app">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: app</div>
                            <div class="work__title">
                                The app is in the design phase..
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio -->

          
    </div><!-- /.container -->    
</div><!-- /.works -->   

<!-- About -->
<section class="about" id="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__photo">
                <img class="img" src="{% static 'images/photo2.png' %}" alt="">
            </div>

            <div class="about__content">
                <h3 class="about__title">about me</h3>
                <h2 class="about__bigtitle">WHO AM I</h2>
                <div class="about__text">
                    <p>My name is Oleksii, and am an aspiring programmer. Since childhood, I have been fascinated by computers and technology, which led me to choose IT as my future career. This decision is a conscious step toward achieving my professional dreams.

                    Having completed two courses in Python, Data Science, and testing, I have gained foundational knowledge and skills that I am ready to apply in real-world projects. My interests include data analysis, developing useful software, and testing, which allows me to approach tasks from multiple perspectives.
                    </p>    
                    <p>I am looking for a team of like-minded individuals where I can contribute and continue learning. My main goal is to create products that solve user problems and bring real value. I am committed to continuous skill development to improve myself every day.
                    </p>                                       
                </div>
                
            </div><!-- /.about__content -->
        </div><!-- /.about__inner -->
    </div><!-- /.container -->
</section><!-- about -->

<!-- Reviews -->
<div class="reviews">
    <div class="container">

         <!-- Video background -->
         <video class="reviews__bg-video" autoplay loop muted>
            <source src="{% static 'animation/animation_1.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="reviews__item">
            <div class="reviews__text">
                <p>In this portfolio, I present my current skills and projects. This is just the beginning of my journey: I am constantly learning and plan to regularly update my portfolio with new works. My goal is to showcase how I grow as a specialist so that everyone can see who I am and where I am heading.
                </p>
            </div>

            <div class="reviews__author">
                <img class="reviews__photo" src="{% static 'images/cat2.png' %}" alt="">
                <div class="reviews__name">Oleksii Benedysiuk</div>
                <div class="reviews__company">Junior Web Developer</div>
                <div class="reviews__rating"></div>
            </div>
        </div><!-- reviews__item -->


    </div><!-- container -->
</div><!-- reviews -->

<!-- My story -->
<section class="news" id="my_story">
    <div class="container">
        <div class="news__header">
            <h3 class="news__title">My Story</h3>
        </div>

        <div class="articles">
            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">FROM THE START TO TODAY</a>
                        </h4>
                        <div class="articles__cat">MY PAST</div>
                        <div class="articles__text">
                            <p>My career started 11 years ago, and during this time, I’ve gained diverse experience across various fields. I’ve worked both in offices and in manual labor...</p>
                        </div>
                    </div>
                    <a class="btn btn--sm" href="#" data-modal="#modal_article_1">READ MORE</a>
                </div>
            </div>
            
            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">ALWAYS MOVING FORWARD</a>
                        </h4>
                        <div class="articles__cat">MY PRESENT</div>
                        <div class="articles__text">
                            <p>This is how I see my present. I’d like to share a bit about where I work and what I’m learning. Currently, I am a recruitment specialist working at Randstad...</p>
                        </div>
                    </div>
                    <a class="btn btn--sm" href="#" data-modal="#modal_article_2">READ MORE</a>
                </div>
            </div>
            
            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">THE PATH TO THE GOAL</a>
                        </h4>
                        <div class="articles__cat">MY FUTURET</div>
                        <div class="articles__text">
                            <p>Where am I heading? What do I want? These are questions we all ask ourselves, but not everyone knows what they truly want to achieve. As for me, I have a clear vision...</p>
                        </div>
                    </div>
                    <a class="btn btn--sm" href="#" data-modal="#modal_article_3">READ MORE</a>
                </div>
            </div>
        </div><!-- /.articles -->
    </div><!-- /.container -->
</section><!-- /.news -->


 <!-- Footer -->
 <footer class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__credits">
                <div class="footer__copyright"></div>
                <div class="footer__social">
                    <a href="https://www.linkedin.com/in/oleksii-benedysiuk/" target="_blank">
                        <img src="{% static 'images/linkedin_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://github.com/OleksiiOleksa" target="_blank">
                        <img src="{% static 'images/github_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://www.instagram.com/freshdeadboy/" target="_blank">
                        <img src="{% static 'images/instagram_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://www.facebook.com/oleksii.oleksa.1" target="_blank">
                        <img src="{% static 'images/facebook_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://t.me/FRESHDEADBOY" target="_blank">
                        <img src="{% static 'images/telegram_ikon.svg' %}" width="24" alt="">
                    </a>
                </div>
            </div> <!-- /.footer__credits -->
            
            <nav class="footer__nav">
                <a class="footer__nav-link" href="#work">Work</a>
                <a class="footer__nav-link" href="#about">About me</a>
                <a class="footer__nav-link" href="#my_story">My Story</a>
                <a class="footer__nav-link footer__nav-link--btn" href="#" data-modal="#modal_hire_me">Hire me</a>
            </nav>
        </div> <!-- /.footer__inner -->

    </div><!-- /.container-->
 </footer><!-- footer -->

<!-- Modals_solana -->
<div class="modal" id="modal_scraping">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>

        <div class="modal-work">
        
            <div class="modal-work__content">

                <div class="modal_work__header">
                    <h3 class="modal-work__title">Solana Info</h3>
                    <div class="modal-work__info">
                        category: FinTech <span class="modal-work__info-divider">|</span> 2024
                    </div>
                </div>

                <div class="modal-work__client">
                    <div class="modal-work__client-title"></div>
                    <div class="modal-work__client-company" ></div>
                </div>

                <div class="modal-work__text">
                    <p>Solana Page is a web application that provides up-to-date information about the Solana cryptocurrency and related events. The main page includes sections such as:

                        <li>SOL/USDT chart from TradingView to track the latest price changes.</li>
                        <li>Average SOL price over the last 7 days, displayed as a dynamic graph.</li>
                        <li>Solana Fear & Greed Index, offering insights into investor sentiment.</li>
                        <li>News and events related to the Solana ecosystem, with the ability to view current articles.</li>
                    </p>  
                    <p>The project incorporates web scraping to gather information from various external sources, ensuring real-time data updates. </p>                    
                </div>

                {% comment %} <div class="modal-work__footer">
                    <button class="modal-work__btn" type="button">
                        <img src="{% static 'images/left.svg' %}" height="12" alt="">
                        Previous
                    </button>
                    <button class="modal-work__btn" type="button">
                        Next
                        <img src="{% static 'images/right.svg' %}" height="13" alt="">                    
                    </button> {% endcomment %}

                    <a href="{% url 'solanapage' %}" class="modal-work__btn">Go to Solana Page</a>
                </div>

            </div><!-- /.modal-work__content -->
        </div> <!-- /.modal-work -->

    </div><!-- /.modal__dialog -->
</div><!-- /.modal_solana -->

<!-- Modals_bot -->
<div class="modal" id="modal_bot">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>

        <div class="modal-work">
        
            <div class="modal-work__content">

                <div class="modal_work__header">
                    <h3 class="modal-work__title">TELEGRAM BOT</h3>
                    <div class="modal-work__info">
                        category:Interactive Chatbot<span class="modal-work__info-divider">|</span> 2025
                    </div>
                </div>

                <div class="modal-work__client">
                    <div class="modal-work__client-title"></div>
                    <div class="modal-work__client-company" ></div>
                </div>

                <div class="modal-work__text">
                    <p>The Telegram Bot is an interactive extension of my portfolio, designed to provide users with an engaging way to explore my projects, skills, and background.</p>   
                    <p>Bot is currently in development....</p>                 
                </div>
            </div>
        </div> 

    </div>
</div>

<!-- Modals_scheduler -->
<div class="modal" id="modal_scheduler">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>

        <div class="modal-work">
        
            <div class="modal-work__content">

                <div class="modal_work__header">
                    <h3 class="modal-work__title">PERSONAL SCHEDULER</h3>
                    <div class="modal-work__info">
                        category: Planning <span class="modal-work__info-divider">|</span> 2025
                    </div>
                </div>

                <div class="modal-work__client">
                    <div class="modal-work__client-title"></div>
                    <div class="modal-work__client-company" ></div>
                </div>

                <div class="modal-work__text">
                    <p>The project is in development. The main goal is to implement a personal account where each user can create a convenient space for planning their life.</p>                     
                </div>
            </div>
        </div> 

    </div>
</div>

<!-- _message -->
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<!-- /.message -->

<!-- Modals_message -->
<div class="modal" id="modal_hire_me">
    <div class="modal__dialog  modal__dialog--sm">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>
    
        <div class="contact">
            <div class="contact__left">
                <h3 class="modal__title mb-0">LET'S TALK!</h3>
                <div class="modal__subtitle">CALL ME OR SEND ME A REQUEST</div>                
    
                <ul class="contact__info">
                    <li class="contact__info-item">
                        <img class="contact__info-icon" src="{% static 'images/phone.svg' %}" height="20" alt="Phone icon">
                        <a href="tel:+200100100">+48 794 916 029</a>
                    </li>
                    <li class="contact__info-item">
                        <img class="contact__info-icon" src="{% static 'images/mail.svg' %}" height="20" alt="Mail icon">
                        <a href="mailto:jashflkash@gmail.com">baginski.oleksii@gmail.com
                        </a>
                    </li>
                </ul>
                
                <form class="form" action="{% url 'send_feedback' %}" method="post">
                    {% csrf_token %}
                    <div class="form__group">    
                        <label class="form__label" for="input-email">Address e-mail</label>
                        <input class="form__input" type="email" id="input-email" name="email" placeholder="Your email" required>
                    </div>
                
                    <div class="form__group">    
                        <label class="form__label" for="input-text">Message</label>
                        <textarea class="form__textarea" id="input-text" name="message" placeholder="Type your request..." required></textarea>
                    </div>
                
                    <div class="text-right">
                        <button class="btn" type="submit">SEND</button>
                    </div>
                </form>
            
            </div><!-- /.contact__left -->      
        </div><!-- /.contact --> 
    </div><!-- /.modal__dialog -->
</div><!-- /.modal_message -->

<!-- Modal_resume-->
<div class="modal" id="modal_resume">
    <div class="modal__dialog  modal__dialog--lg">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>
    
        <div class="resume">
            <div class="resume__content">
                <h3 class="modal__title mb-0">MY RESUME</h3>
                <div class="modal__subtitle">Download or view my CV below</div>

                <div class="resume__pdf">
                    <!-- PDF Embed -->
                    <embed src="{% static 'CV/OLEKSII_BAGINSKI_CV.pdf' %}" width="100%" height="600px" type="application/pdf">
                </div>
                <div class="text-right mt-3">
                    <a href="{% static 'CV/OLEKSII_BAGINSKI_CV.pdf' %}" class="btn" download>Download CV</a>
                </div>
            </div><!-- /.resume__content -->      
        </div><!-- /.resume --> 
    </div><!-- /.modal__dialog -->
</div><!-- /.modal_resume -->

<!-- Modal for Article 1 -->
<div class="modal" id="modal_article_1">
    <div class="modal__dialog">
        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>
        <div class="modal-work">
            <div class="modal-work__content">
                <div class="modal-work__header">
                    <h3 class="modal-work__title">FROM THE START TO TODAY</h3>
                </div>
                <div class="modal-work__text">
                    <p>My career started 11 years ago, and during this time, I’ve gained diverse experience across various fields. I’ve worked both in offices and in manual labor, but I’ve always strived to contribute to development, maintain quality, and improve the efficiency of task execution.</p>

                    <p>My first job was at a company that produced herbal products. I was active on social media and knew how to effectively present products, which led to me being invited to the sales department to help develop the brand. I worked with both wholesale and retail sales, promoted products on social media, and most importantly, I initiated the creation of a website for the company, as it didn’t have one. This was my first experience in web development, and although I didn’t write the code myself, I played an active role in the creation and improvement of the site’s functionality.</p>

                    <p>Additionally, I led the rebranding of the company, which positively impacted brand recognition in the market and increased sales volume. At that time, I was full of energy and eager to grow. However, due to the economic crisis in the country, the company almost went bankrupt, and I was laid off.</p>

                    <p>The next step in my career was a brief stint as a barista. Although it only lasted five months, I managed to increase coffee sales by 75% during that time. This was a result of my charisma and ability to create a pleasant atmosphere.</p>

                    <p>After that, I moved to Poland, continued my studies at a university in management, learned the Polish language, and adapted to life in a new country. I admit, it wasn’t easy, but thanks to persistence, I overcame the challenges. I worked as a dishwasher, in the kitchen, in the warehouse, and even as a laborer at the university. I am proud of this experience because I believe that confidence and responsibility are crucial in any job. For example, even seemingly small tasks, like properly arranging dishes in the dishwasher, affected the quality and speed of work.</p>

                    <p>After graduating from university and gaining proficiency in Polish, I started working in the field of employment services for Ukrainian citizens in Poland. This gave me the opportunity to apply the skills I had acquired in previous jobs and my studies. I initiated the company’s rebranding, improved the creation of marketing materials, and worked on setting up advertising campaigns. Soon, I was invited to a similar role at a large corporation, where I continue to work to this day.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Article 2 -->
<div class="modal" id="modal_article_2">
    <div class="modal__dialog">
        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>
        <div class="modal-work">
            <div class="modal-work__content">
                <div class="modal-work__header">
                    <h3 class="modal-work__title">ALWAYS MOVING FORWARD</h3>
                </div>
                <div class="modal-work__text">
                    <p>This is how I see my present. I’d like to share a bit about where I work and what I’m learning. Currently, I am a recruitment specialist working at Randstad, a global employment agency.</p>
                    <p>I believe my achievements are worth highlighting. Last year, in 2024, I helped around 500 people find jobs. Yes, you heard that right — half a thousand people heard me say the words, “You’re hired!” Of course, marketing teams, HR, and other colleagues were part of the process, but as a recruiter, it was my responsibility to screen applicants, conduct interviews, and guide candidates through the hiring process.</p>
                    <p>I’ve been working with Randstad for four years now, and during this time, I’ve implemented several improvements that enhanced the candidate search process. Leveraging my previous experience, I contributed to optimizing recruitment processes.</p>
                    <p>But that’s not all. Over the past three years, I’ve completed two online IT courses. First, I took a testing course from the Ukrainian online university GetEd, and later, I studied with the international school GOIT. Through the program, I gained knowledge in Python, SQL, web development, and data science.</p>
                    <p>I’d like to highlight that GOIT takes its education process very seriously. Practical exercises, mentoring support, teamwork, and working with repositories — it’s safe to say that GOIT creates an environment that closely mirrors real-world work conditions.</p>
                    <p>Isn’t it time to put all this knowledge into practice? I think it is!</p>
                </div>     
            </div>
        </div>
    </div>
</div>

<!-- Modal for Article 3 -->
<div class="modal" id="modal_article_3">
    <div class="modal__dialog">
        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>
        <div class="modal-work">
            <div class="modal-work__content">
                <div class="modal-work__header">
                    <h3 class="modal-work__title">THE PATH TO THE GOAL</h3>
                </div>
                <div class="modal-work__text">
                    <p>Where am I heading? What do I want? These are questions we all ask ourselves, but not everyone knows what they truly want to achieve. As for me, I have a clear vision of my goal. I may not know every step to get there, but I’m confident I will find the way.</p>
                    <p>What do I want? Probably the same as many others. But that doesn’t matter as much as the methods I use to get there. They are simple: do what you love, what you are best at, what brings value to others and the world. And in return, you will be rewarded. This approach aligns with the Japanese philosophy of Ikigai (生き甲斐) — "the reason for being." That’s exactly what I aim to achieve.</p>
                    <p>I’m already on this path, partially. I’m doing what I love and what I do best. Since childhood, I’ve had a natural connection with technology. I’ve always been fascinated by its vast, intangible realm of knowledge and possibilities. Technology inspires me and fuels my passion.</p>
                    <p>Now, I want to combine this passion with two essential goals: to make my knowledge useful to others and to contribute to the betterment of the world. That’s why I’m looking for a job. Not just any job, but a team where I can find like-minded individuals. People who see value in what I bring to the table and with whom I can grow while making a meaningful impact.</p>
                    <p>I am confident that my future will soon become my present, and when that happens, this article will be rewritten.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
 <script src="{% static 'js/app.js' %}"></script><!-- js -->

</body>
</html>