{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<!-- Header -->        
<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="user">
                <div class="user__avatar">
                    <img src="{% static 'images/cat.png' %}" alt="">
                </div>
                <div class="user__content">
                    <div class="user__name">Oleksii <br> Bagiński</div>
                    <div class="user__prof">Junior Software Developer</div>
                </div>
            </div>

            <nav class="nav">
                <a class="nav__link" href="#work">work</a>
                <a class="nav__link" href="#about">about me</a>
                <a class="nav__link" href="#my_story">my story</a>
                <a class="nav__link nav__link--btn" href="#" data-modal="#modal_hire_me">hire me</a>
            </nav>
        </div>
    </div>
</header><!-- Header -->


<!-- Intro -->
<section class="intro">
    <div class="container">

        <div class="intro__inner">
            <div class="intro__background"></div>
            <div class="intro__content">
                <h2 class="intro__subtitle">Hello i'm</h2>
                <h1 class="intro__title">Oleksii Bagiński</h1>
                <div class="intro__text">Junior Software Developer</div>

                <div class="social">
                    <a class="social__link" href="https://www.linkedin.com/in/oleksii-benedysiuk/" target="_blank">
                        <img src="{% static 'images/linkedin.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://github.com/OleksiiOleksa" target="_blank">
                        <img src="{% static 'images/github.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://www.instagram.com/freshdeadboy/" target="_blank">
                        <img src="{% static 'images/instagram.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://www.facebook.com/oleksii.oleksa.1" target="_blank">
                        <img src="{% static 'images/facebook.svg' %}" alt="">
                    </a>
                    <a class="social__link" href="https://t.me/FRESHDEADBOY" target="_blank">
                        <img src="{% static 'images/telegram.svg' %}" alt="">
                    </a>               
                </div>

                <a class="btn" href="#" data-modal="#modal_hire_me">HIRE ME</a>
                <button class="btn" type="button" data-modal="#modal_resume">SEE MY RESUME</button>
            </div>    
                        
            <img class="intro__photo" src="{% static 'images/photo.png' %}" alt="" id="photo">
        </div><!-- /.intro__inner -->

    </div><!-- /.container -->
</section><!-- intro -->

<!-- Works -->
<div class="works" id="work">
    <div class="container">

            <div class="works__nav">
                <a class="works__nav-link" href="#" data-filter="all">All</a>
                <a class="works__nav-link" href="#" data-filter="app">App</a>
                <a class="works__nav-link" href="#" data-filter="website">Websites</a>
                <a class="works__nav-link" href="#" data-filter="interaction">Interaction</a>
            </div>

            <div class="portfolio">
                <div class="portfolio__col" data-cat="app">
                    <div class="work" data-modal="#modal_scraping">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: app</div>
                            <div class="work__title">
                                Project title
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="website">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: website</div>
                            <div class="work__title">
                                Project title
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="interaction">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: interaction</div>
                            <div class="work__title">
                                Project title
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="website">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: website</div>
                            <div class="work__title">
                                Project title
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="interaction">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: interaction</div>
                            <div class="work__title">
                                Project title
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="portfolio__col" data-cat="app">
                    <div class="work">
                        <img class="work__image" src="https://placehold.it/370x300" alt="">
                        <div class="work__content">
                            <div class="work_cat">category: app</div>
                            <div class="work__title">
                                Project title
                                <time class="work__date" datetime="2024-10-14 19:00">2024</time>
                            </div>  
                        </div>
                    </div>
                </div>
            </div><!-- /.portfolio -->

          
    </div><!-- /.container -->    
</div><!-- /.works -->   

<!-- About -->
<section class="about" id="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__photo">
                <img class="img" src="{% static 'images/photo2.png' %}" alt="">
            </div>

            <div class="about__content">
                <h3 class="about__title">about ne</h3>
                <h2 class="about__bigtitle">WHO AM I</h2>
                <div class="about__text">
                    <p>I am a programming beginner with a focus on
                        Python. I am completing my second course, which
                        includes web application testing and creating
                        projects using Django. I have practical experience
                        working with Python, HTML, CSS, JavaScript, and
                        SQL.
                    </p>
                    <p>I am a programming beginner with a focus on
                        Python. I am completing my second course, which
                        includes web application testing and creating
                        projects using Django. I have practical experience
                        working with Python, HTML, CSS, JavaScript, and
                        SQL.
                    </p>
                    <p>I am a programming beginner with a focus on
                        Python. I am completing my second course, which
                        includes web application testing and creating
                        projects using Django. I have practical experience
                        working with Python, HTML, CSS, JavaScript, and
                        SQL.
                    </p>                    
                </div>
                
            </div><!-- /.about__content -->
        </div><!-- /.about__inner -->
    </div><!-- /.container -->
</section><!-- about -->

<!-- Reviews -->
<div class="reviews">
    <div class="container">

         <!-- Video background -->
         <video class="reviews__bg-video" autoplay loop muted>
            <source src="{% static 'animation/animation_1.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="reviews__item">
            <div class="reviews__text">
                <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
                </p>
            </div>

            <div class="reviews__author">
                <img class="reviews__photo" src="{% static 'images/cat.png' %}" alt="">
                <div class="reviews__name">Oleksii Benedysiuk</div>
                <div class="reviews__company">Junior Software Developer</div>
                <div class="reviews__rating"></div>
            </div>
        </div><!-- reviews__item -->


    </div><!-- container -->
</div><!-- reviews -->

<!-- News -->
 <section class="news" id="my_story">
    <div class="container">
        
        <div class="news__header">
            <h3 class="news__title">My Story</h3>
            <div class="news__text">Sometimes i write something smart</div>
        </div>

        <div class="articles">
            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <time class="articles__date">
                            10<br>june
                        </time>
                        <a href="#">
                            <img class="articles__photo" src="https://placehold.it/370x257" alt="">
                        </a>
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">TEN THE BEST APP IN 2017</a>
                        </h4>
                        <div class="articles__cat">CATEGORY</div>
                        <div class="articles__text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <a class="btn btn--sm" href="#">READ MORE</a>
                </div>
            </div>
            
            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <time class="articles__date">
                            10<br>june
                        </time>
                        <a href="#">
                            <img class="articles__photo" src="https://placehold.it/370x257" alt="">
                        </a>
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">TEN THE BEST APP IN 2017</a>
                        </h4>
                        <div class="articles__cat">CATEGORY</div>
                        <div class="articles__text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <a class="btn btn--sm" href="#">READ MORE</a>
                </div>
            </div>
            
            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <time class="articles__date">
                            10<br>june
                        </time>
                        <a href="#">
                            <img class="articles__photo" src="https://placehold.it/370x257" alt="">
                        </a>
                    </div>
                    <div class="articles__content">
                        <h4 class="articles__title">
                            <a href="#">TEN THE BEST APP IN 2017</a>
                        </h4>
                        <div class="articles__cat">CATEGORY</div>
                        <div class="articles__text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <a class="btn btn--sm" href="#">READ MORE</a>
                </div>
            </div>
        </div><!-- /.articles -->

    </div><!-- /.container -->
 </section><!-- news -->

 <!-- Footer -->
 <footer class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__credits">
                <div class="footer__copyright">
                   &copy; 2018 UI43 - Free Templates 
                </div>
                <div class="footer__social">
                    <a href="https://www.linkedin.com/in/oleksii-benedysiuk/" target="_blank">
                        <img src="{% static 'images/linkedin_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://github.com/OleksiiOleksa" target="_blank">
                        <img src="{% static 'images/github_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://www.instagram.com/freshdeadboy/" target="_blank">
                        <img src="{% static 'images/instagram_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://www.facebook.com/oleksii.oleksa.1" target="_blank">
                        <img src="{% static 'images/facebook_ikon.svg' %}" width="24" alt="">
                    </a>
                    <a href="https://t.me/FRESHDEADBOY" target="_blank">
                        <img src="{% static 'images/telegram_ikon.svg' %}" width="24" alt="">
                    </a>
                </div>
            </div> <!-- /.footer__credits -->
            
            <nav class="footer__nav">
                <a class="footer__nav-link" href="#work">Work</a>
                <a class="footer__nav-link" href="#about">About me</a>
                <a class="footer__nav-link" href="#my_story">My Story</a>
                <a class="footer__nav-link footer__nav-link--btn" href="#" data-modal="#modal_hire_me">Hire me</a>
            </nav>
        </div> <!-- /.footer__inner -->

    </div><!-- /.container-->
 </footer><!-- footer -->

<!-- Modals -->
<div class="modal" id="modal_scraping">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>

        <div class="modal-work">
            <div class="modal-work__preview">
                <img class="modal-work__photo" src="https://placehold.it/790x780" alt="">
            </div>
            <div class="modal-work__content">

                <div class="modal_work__header">
                    <h3 class="modal-work__title">Project title</h3>
                    <div class="modal-work__info">
                        category <span class="modal-work__info-divider">|</span> 2018
                    </div>
                </div>

                <div class="modal-work__client">
                    <div class="modal-work__client-title">Client:</div>
                    <div class="modal-work__client-company" >Creative Agency</div>
                </div>

                <div class="modal-work__text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>  
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                    
                </div>

                <div class="modal-work__footer">
                    <button class="modal-work__btn" type="button">
                        <img src="{% static 'images/left.svg' %}" height="12" alt="">
                        Previous
                    </button>
                    <button class="modal-work__btn" type="button">
                        Next
                        <img src="{% static 'images/right.svg' %}" height="13" alt="">                    
                    </button>

                    <a href="{% url 'solanapage' %}" class="modal-work__btn">Go to Solana Page</a>
                </div>

            </div><!-- /.modal-work__content -->
        </div> <!-- /.modal-work -->

    </div><!-- /.modal__dialog -->
</div><!-- /.modal -->

<!-- Добавьте этот блок в начале шаблона или перед формой -->
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- Modals2 -->
<div class="modal" id="modal_hire_me">
    <div class="modal__dialog  modal__dialog--sm">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>
    
        <div class="contact">
            <div class="contact__left">
                <h3 class="modal__title mb-0">LET'S TALK!</h3>
                <div class="modal__subtitle">CALL ME OR SEND ME A REQUEST</div>                
    
                <ul class="contact__info">
                    <li class="contact__info-item">
                        <img class="contact__info-icon" src="{% static 'images/phone.svg' %}" height="20" alt="Phone icon">
                        <a href="tel:+200100100">+48 (794) 916 029</a>
                    </li>
                    <li class="contact__info-item">
                        <img class="contact__info-icon" src="{% static 'images/mail.svg' %}" height="20" alt="Mail icon">
                        <a href="mailto:jashflkash@gmail.com">baginski.oleksii@gmail.com
                        </a>
                    </li>
                </ul>
                
                <form class="form" action="{% url 'send_feedback' %}" method="post">
                    {% csrf_token %}
                    <div class="form__group">    
                        <label class="form__label" for="input-email">Address e-mail</label>
                        <input class="form__input" type="email" id="input-email" name="email" placeholder="Your email" required>
                    </div>
                
                    <div class="form__group">    
                        <label class="form__label" for="input-text">Message</label>
                        <textarea class="form__textarea" id="input-text" name="message" placeholder="Type your request..." required></textarea>
                    </div>
                
                    <div class="text-right">
                        <button class="btn" type="submit">SEND</button>
                    </div>
                </form>
            
            </div><!-- /.contact__left -->      
        </div><!-- /.contact --> 
    </div><!-- /.modal__dialog -->
</div><!-- /.modal2 -->

<!-- Modal3-->
<div class="modal" id="modal_resume">
    <div class="modal__dialog  modal__dialog--lg">

        <button class="modal__close" type="button" data-close>
            <img src="{% static 'images/close.svg' %}" alt="Close">
        </button>
    
        <div class="resume">
            <div class="resume__content">
                <h3 class="modal__title mb-0">MY RESUME</h3>
                <div class="modal__subtitle">Download or view my CV below</div>

                <div class="resume__pdf">
                    <!-- PDF Embed -->
                    <embed src="{% static 'CV/OLEKSII_BAGINSKI_CV.pdf' %}" width="100%" height="600px" type="application/pdf">
                </div>
                <div class="text-right mt-3">
                    <a href="{% static 'CV/OLEKSII_BAGINSKI_CV.pdf' %}" class="btn" download>Download CV</a>
                </div>
            </div><!-- /.resume__content -->      
        </div><!-- /.resume --> 
    </div><!-- /.modal__dialog -->
</div><!-- /.modal -->

<!-- JS -->
 <script src="{% static 'js/app.js' %}"></script><!-- js -->

</body>
</html>